* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times, serif;
}

body {
  background-color: #a7a8cd;
}

.main-box {
  height: 500px;
  align-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  border-radius: 10px;
  position: relative;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
}

.main-box .new {
  background-color: #fdf1b5;
  padding-inline: 5px;
  padding-block: 7px;
  font-size: 0.7rem;
  word-spacing: 4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 10px;
  left: -10px;
  padding-left: 12px;
  padding-right: 20px;
    
}

.main-box .image {
  height: 70%;
}

.main-box .image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-box .text {
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-box .text h1 {
  padding-block-end: 0.8rem;
  word-spacing: 4px;
  padding-left: 10px;
}

.main-box .text h1 span {
  font-size: large;
  color: #7c7c7c;
}

.main-box .text p {
  text-align: justify;
  font-size: 20px;
  word-spacing: 3px;
  text-decoration: solid;
  font-weight: 900;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 40px;
}
.navbar {
      background-color: #333;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }

    .navbar a {
      color: white;
      padding: 14px 20px;
      text-align: center;
      text-decoration: none;
      display: block;
    }

    .navbar a:hover {
      background-color: #575757;
    }